# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#visual studio
.vs/
out/

#vscode
.vscode/
**/build/
**/build_wasm/

#wasm compiler files
dashboard_ui/src/wasm/CivicEngine.js
dashboard_ui/src/wasm/CivicEngine.wasm