@import url('https://fonts.cdnfonts.com/css/d-din');

.digital-speedometer{
    font-family: 'D-DIN', sans-serif;
    fill: #ffffff;
    text-anchor: middle;
    dominant-baseline: middle;
}

.speed-value{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -.03em;
    fill: rgba(255, 255, 255, 0.8);
}

.speed-unit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    fill: rgba(192, 184, 184, 0.8);
}

