@import url('https://fonts.cdnfonts.com/css/d-din');

.weather-display {
    font-family: 'D-DIN', sans-serif;
    fill: #ddd6d6;
    font-size: 24px;
    text-anchor: middle;
    dominant-baseline: middle;
}